body, div, ul, li, h4, p  {
	margin: 0;
	padding: 0;
}
.rssreader {
	margin-left: 1em;
	margin-right: 1em;
}
.rssHeader {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
/*
.rssBody {
	border: 0.1em solid whitesmoke;
}*/
.rssBody ul {
	list-style: none;
}
.rssRow {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}

.rssRow:nth-child(odd) {
	background: #e8e8fc;
}

.rssRow:nth-child(even) {
	background: #d4d4e8;
}
.rssRow h4 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.rssRow time {
	display: block;
	margin-bottom: 0.5em;
}

.rssRow p {
	margin-bottom: 0.5em;
}
